<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- для Supabase -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Уведомления -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Точные будильники -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>

    <!-- Пробуждение устройства для напоминаний -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_compass"
        android:label="@string/app_name"
        android:theme="@style/Theme.CalorieCounter"
        android:usesCleartextTraffic="true">


        <!-- Лаунчер (единственная с intent-filter) -->
        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.DietListActivity" android:exported="false"/>
        <activity android:name=".view.DietDetailActivity" android:exported="false"/>
        <activity android:name=".view.ProfileSetupActivity" android:exported="false"/>
        <activity android:name=".view.ProfileActivity" android:exported="false"/>
        <activity android:name=".view.BarcodeScannerActivity" android:exported="false"/>
        <activity android:name=".view.CalendarActivity" android:exported="false"/>
        <activity android:name=".view.FoodSearchActivity" android:exported="false"/>
        <activity android:name=".view.FoodDetailActivity" android:exported="false"/>
        <activity android:name=".view.MainActivity" android:exported="false"/>
        <activity android:name=".view.RecipeDetailActivity" android:exported="false"/>
        <activity android:name=".view.RecipeAddActivity" android:exported="false"/>
        <activity android:name=".view.DayDetailActivity" android:exported="false"/>
        <activity
            android:name=".view.MyRecipeEditorActivity"
            android:exported="false"
            android:label="Редактор рецепта"
            android:parentActivityName=".view.FoodSearchActivity" />
        <activity android:name=".view.FoodPortionCalculatorActivity" android:exported="false" />
        <activity android:name=".view.WaterTrackerActivity" android:exported="false" />

        <!--  напоминания воды -->
        <receiver android:name=".view.WaterReminderReceiver" android:exported="false" />


    </application>
</manifest>